// primary, secondary, tertiary, quaternary, quinary, senary, septenary, octonary, nonary, denary
$primary-50-color: #E4F0F8;
$primary-100-color: #BCD9EA;
$primary-200-color: #8BBDD9;
$primary-300-color: #5BA4CF;
$primary-400-color: #298FCA;
$primary-500-color: #0079BF;
$primary-600-color: #026AA7;
$primary-700-color: #055A8C;
$primary-800-color: #094C72;
$primary-900-color: #0C3953;


$bg-dark: #1a2b3c;
$text-light: #eee;

$bg-light: #f1f3f5;
$text-dark: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 0rem;
$gutter-horizontal: 3rem;
